body {
    font-family: Roboto;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    max-width: 930px;
}

ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

li {
    text-decoration: none;
    list-style: none;
}

.Hero-Text {
    display: flex;
    flex-direction: column;
}

.hero-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.hero-section p {
    max-width: 420px;
}

.Hero-Text button {
    width: 100px;
}

.hero-section img {
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card p {
    max-width: 200px;
}


.quote-section {
    padding: 100px;
}

.quote-section span {
    text-align: end;
}