body {
    margin: 0px;
    padding: 0px
}

section .hero-section {
    background-color: #1f2937;
    font-family: Roboto;
}

nav li {
    font-size: 18px;
    color: #f9faf8;
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-between;

}

nav ul {
    display: flex;
    gap: 20px;
}

span {
    font-size: 24px;
    color: #f9faf8;
}
